@()

@main("Calculator") {
<head>
<link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
</head>
<header>
  <h1>Calculator</h1>
  <p>This API solves the basic mathematical expression passed in UTF-8 or Base64 format</p>
 </header>
  <article>
	  <h3>API</h3>	  
	  <div class="api-doc-wrapper">
	  <p>GET api/calculus?query={query}</p> 
	  <p>Returns the result of the expression in json format</p> 
	  </div>
  </article>  
  
  <article>
	  <h3>Get Request samples</h3>
	  <ul>
		  <li><a href="/calculus?query=2 * (23/(3*3))- 23 * (2*3)">/calculus?query=2 * (23/(3*3))- 23 * (2*3)</a></li>
		  <li><a href="/calculus?query=MiAqICgyMy8oMyozKSktIDIzICogKDIqMyk=">/calculus?query=MiAqICgyMy8oMyozKSktIDIzICogKDIqMyk=</a></li>
		  <li><a href="/calculus?query=5+7">/calculus?query=5+7</a></li>
		  <li><a href="/calculus?query=(10 + 8) * 9">/calculus?query=(10 + 8) * 9</a></li>
		  <li><a href="/calculus?query=(2 - 8) / (9 + 2)">/calculus?query=(2 - 8) / (9 + 2)</a> </li>
		  <li><a href="/calculus?query=(52 +17)*(12-9)">/calculus?query=(52 +17)*(12-9)</a> </li>
		  <li><a href="/calculus?query=MiooMis5KS0oMys1KQ==">/calculus?query=MiooMis5KS0oMys1KQ== (which is 2*(2+9)-(3+5))</a> </li>
	  </ul>
  </article>  
  
  <article>
	  <h3>Format of the expression and allowed characters</h3>
	  <ul>
	  <li>UTF-8
			<ul>
				<li>0 - 9</li>
				<li>+, -, /, *, (, )</li>			
			</ul>
	  </li>
	  <li><a target="_blank" href="http://www.motobit.com/util/base64-decoder-encoder.asp">Base64</a>
		<ul>
			<li>a-z, A-Z</li>
			<li>+, /, =</li>			
		</ul>
	  </li>
	  </ul>
  </article>  
  
   <article>
	  <h3>Repository</h3>
	  <ul>
	  <li><a target="_blank" href="https://github.com/ukieiri/calculator">GitHub link</a></li>
	  <li>Unit tests (matching) are in <a target="_blank" href="https://github.com/ukieiri/calculator/blob/master/test/controllers/CalculusControllerSpec.scala">/test/CalculusControllerSpec</a></li>
	  </ul>
  </article>    
}
